做一个币图表的前端
具体布局是两栏布局
1.左边一个侧边栏，侧边栏分三个栏目
1.1第一个栏目是用户的watchlist展示收藏的币种，还有new pairs随机推荐的币种，点击分别是不同的图表
1.2第二个栏目是不同的链，solana，sui，eth三个链，点击分别是不同的图表
1.3第三个栏目是用户的连接钱包登录，点击登录后，会调用dapp-kit的钱包连接
2.右边一个主栏，主栏主要有两个部分，第一个就是一个table展示所有的币种
2.1table就是常用的数据表格，这里点进去就是tradingview的图表
2.2第二个是一个图表，图表是根据用户选择的币种，以及链，然后显示对应的图表，图表是tradingview的图表
